<h2 mat-dialog-title>Editage du plan numéro {{mealplan.id}}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="content">
    <mat-form-field appearance="fill">
        <mat-label>Numéro du plan</mat-label>
        <input [(ngModel)]="mealplan.id" matInput type="number" min="0">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Catégorie</mat-label>
        <mat-select [(ngModel)]="mealplan.category">
            <mat-option value='Famille'>Famille</mat-option>
            <mat-option value='Vegetarien'>Végétarien</mat-option>
            <mat-option value='Pescetarien'>Pescétarien</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="mealplan.category=='Famille'" appearance="fill">
        <mat-label>Sous-catégorie</mat-label>
        <mat-select [(ngModel)]="subcategory">
            <mat-option value="Rapide">Rapide</mat-option>
            <mat-option value="Facile">Facile</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="mealplan.category=='Famille'">
        <mat-form-field *ngIf="subcategory == 'Rapide'" appearance="fill">
            <mat-label>Temps de préparation</mat-label>
            <input [(ngModel)]="mealplan.prepTime" matInput type="text">
        </mat-form-field>
    
        <mat-form-field *ngIf="subcategory=='Facile'" appearance="fill">
            <mat-label>Nombre d'ingrédients</mat-label>
            <input [(ngModel)]="mealplan.nbIngredients" matInput type="text">
        </mat-form-field>
    </div>

    <mat-form-field *ngIf="mealplan.category=='Vegetarien'" appearance="fill">
        <mat-label>Type de repas</mat-label>
        <input [(ngModel)]="mealplan.mealType" matInput type="text">
    </mat-form-field>

    <mat-form-field *ngIf="mealplan.category=='Pescetarien'" appearance="fill">
        <mat-label>Type de poisson</mat-label>
        <input [(ngModel)]="mealplan.fishBreed" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fréquence</mat-label>
        <mat-select [(ngModel)]="mealplan.frequency">
            <mat-option value="Quotidien">Quotidien</mat-option>
            <mat-option value="Hebdomadaire">Hebdomadaire</mat-option>
            <mat-option value="Bihebdomadaire">Bihebdomadaire</mat-option>
            <mat-option value="Mensuel">Mensuel</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Calories</mat-label>
        <input [(ngModel)]="mealplan.calories" matInput type="number" min="0">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nombre de personnes</mat-label>
        <input [(ngModel)]="mealplan.nbPeople"matInput type="number" min="0" step="1">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
        <input [(ngModel)]="mealplan.price" matInput type="number" min="0">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fournisseur</mat-label>
        <mat-select [(ngModel)]="mealplan.provider">
            <mat-option *ngFor="let provider of providers" [value]="provider">{{ provider.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="button-container">
    <button mat-button [mat-dialog-close]="false">Annuler</button>
    <button class="save-button" mat-button [mat-dialog-close]="true">Sauvegarder</button>
</mat-dialog-actions>