<mat-card class="form-card">
    <mat-card-title>Ajout d'un nouveau plan repas</mat-card-title>
    <mat-card-content>
        <form class="form-content" id="add-mealplan-form">
            <mat-form-field appearance="fill">
                <mat-label>Numéro du plan</mat-label>
                <input [(ngModel)]="id" matInput type="number" min="0">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Catégorie</mat-label>
                <mat-select [(ngModel)]="category">
                    <mat-option value='Famille'>Famille</mat-option>
                    <mat-option value='Vegetarien'>Végétarien</mat-option>
                    <mat-option value='Pescetarien'>Pescétarien</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field *ngIf="category=='Famille'" appearance="fill">
                <mat-label>Sous-catégorie</mat-label>
                <mat-select [(ngModel)]="subcategory">
                    <mat-option value="Rapide">Rapide</mat-option>
                    <mat-option value="Facile">Facile</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="subcategory == 'Rapide'" appearance="fill">
                <mat-label>Temps de préparation</mat-label>
                <input [(ngModel)]="prepTime" matInput type="text">
            </mat-form-field>

            <mat-form-field *ngIf="subcategory=='Facile'" appearance="fill">
                <mat-label>Nombre d'ingrédients</mat-label>
                <input [(ngModel)]="nbIngredients" matInput type="text">
            </mat-form-field>
    
            <mat-form-field *ngIf="category=='Vegetarien'" appearance="fill">
                <mat-label>Type de repas</mat-label>
                <input [(ngModel)]="mealType" matInput type="text">
            </mat-form-field>
    
            <mat-form-field *ngIf="category=='Pescetarien'" appearance="fill">
                <mat-label>Type de poisson</mat-label>
                <input [(ngModel)]="fishBreed" matInput type="text">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Fréquence</mat-label>
                <mat-select [(ngModel)]="frequency">
                    <mat-option value="Quotidien">Quotidien</mat-option>
                    <mat-option value="Hebdomadaire">Hebdomadaire</mat-option>
                    <mat-option value="Bihebdomadaire">Bihebdomadaire</mat-option>
                    <mat-option value="Mensuel">Mensuel</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Calories</mat-label>
                <input [(ngModel)]="calories" matInput type="number" min="0">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Nombre de personnes</mat-label>
                <input [(ngModel)]="nbPeople"matInput type="number" min="0" step="1">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Prix</mat-label>
                <input [(ngModel)]="price" matInput type="number" min="0">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Fournisseur</mat-label>
                <mat-select [(ngModel)]="provider">
                    <mat-option *ngFor="let provider of providers" [value]="provider">{{ provider.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button mat-button id="add-button" form="add-mealplan-form" type="submit" value="Submit" (click)="onSubmit()">Ajouter</button>
    </mat-card-content>
</mat-card>