.form-content {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.form-card {
    width: 50%;
    margin: auto;
    top: 50px;
}

#add-button {
    position: relative;
    width: 15%;
    left: 85%;
    background-color:blueviolet;
    color: white;
}