.content {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 50%;
    margin: auto;
    top: 50px;
}

.button-container {
    display: flex;
    align-content: flex-end;
    justify-content: end;
}

.action-button {
    background-color: mediumpurple;
    color: white;
    width: 40px;
    height: 40px;
}